.nav {
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
	color: #3D58A6;
	font-size: 22px;
	list-style-type: none;
}
.nav1 {
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
	color: #EE4036;
	font-size: 22px;
	list-style-type: none;
}
.nav2 {
	font-family: "BPG Nino Mtavruli Bold", sans-serif;
	color: #3D58A6;
	font-size: 22px;
	list-style-type: none;
}
.facebook {
	margin-left: 40px;
	margin-top: 28px;
	width: 14px;
	height: 30px;
	border-right: 2px solid #363E97;
	padding-right: 30px;
}
.html {
	margin-left: 30px;
	margin-bottom: 7px;
	width: 8px;
	height: 16px;
}
.html1 {
	width: 8px;
	height: 30px;
}
.html2 {
	width: 14px;
	height: 23px;
	margin-bottom: 3px;
}
.html3 {
	width: 12px;
	height: 23px;
	margin-bottom: 3px
}
.html4 {
	width: 17px;
	height: 23px;
	margin-bottom: 3px
}
.html5 {
	width: 10px;
	height: 23px;
	margin-bottom: 3px
}
.html6 {
	margin-left: 4px;
	margin-bottom: 7px;
	width: 8px;
	height: 16px;
}
.Youtube{
	height: 30px;
	width: 25px;
	padding-left: 30px;
}
.kalendari{
	background: #3D58A6;
	font-size: 40px;
	width: 56px;
	height: 56px;
	text-align: center;
	color: white;
	margin-left: 39px;
}
.kalend{
	padding-top: 4px;
}
.maisi{
	font-size: 22px;
	color: #3D58A6;
	font-family: "BPG Nino Mtavruli", sans-serif;
	margin-left: 19px;
	display: inline-block;

}
.lorem{
	font-size: 20px;
	margin-left: 39px;
	font-family: "BPG Nino Mtavruli", sans-serif;
}
.komp{
	margin-left: 39px;
	margin-top: 23px;
	display: inline-block;
	vertical-align: top;
}
.text{
	width: 960px;
	display: inline-block
}
.text1{
	font-size: 16px;
	vertical-align: top;
	margin-left: 20px;
}
ul {
	display: inline-block;
}
.maisi1 {
	display: inline-block;
}
.kalendari1 {
	width: 100%;
	margin-bottom: 50px;
}
.text2{
	font-size: 16px;
	vertical-align: top;
	margin-left: 39px;
	width: 960px;
}